@namespace h "http://www.w3.org/1999/xhtml";
.G-fr {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.995cm
    }
.baka { 
	height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
	}
div.svg_outer {
	display: block;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	text-align: left
	}
div.svg_inner {
	display: block;
	text-align: center
	}
.G-fr1 {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.983cm
    }
.G-fr10 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.976cm
    }
.G-fr11 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.984cm
    }
.G-fr12 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.997cm
    }
.G-fr13 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.983cm
    }
.G-fr2 {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 12.458cm
    }
.G-fr3 {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 14.813cm
    }
.G-fr4 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 3.334cm
    }
.G-fr5 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.99cm
    }
.G-fr6 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.99cm
    }
.G-fr7 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.977cm
    }
.G-fr8 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.976cm
    }
.G-fr9 {
    border: none;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.153cm;
    padding-left: 0.28cm;
    padding-right: 0.28cm;
    padding-top: 0.153cm;
    position: static;
    width: 15.995cm
    }
.P-P {
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P1 {
    color: #000;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P10 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.494cm;
    margin-left: 0.635cm;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -0.635cm
    }
.P-P11 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0.212cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.169cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P12 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.212cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.169cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
    }
.P-P2 {
    color: #000;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P3 {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P4 {
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P5 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.353cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P6 {
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.106cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.423cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.P-P7 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.212cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.169cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P8 {
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.212cm;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.169cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.P-P9 {
    color: #000;
    display: block;
    font-size: 0.77419em;
    line-height: 1.2;
    margin-bottom: 0.494cm;
    margin-left: 0.635cm;
    margin-right: 0;
    margin-top: 0.494cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: -0.635cm
    }
.S-Internet20link {
    color: #00f;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
    }
.S-T {
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T1 {
    color: #000;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T2 {
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T3 {
    color: #000;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T4 {
    color: #000;
    font-size: 1em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T5 {
    color: #000;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T6 {
    color: #000;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.S-T7 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.WW8Num {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre1 {
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre2 {
    color: blue;
    cursor: pointer;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
    }
.calibre3 {
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
    }
.calibre4 {
    color: inherit;
    cursor: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: inherit
    }
.calibre5 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }